.patient-card-hover {
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent !important;
}

.patient-card-hover:hover {
  border-color: #4f46e5 !important;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}
